body {
  background-color: #E5E5E5;
}

#title {
  font-family: sans-serif;
  color: #FFFFFF;
}

.titlebg {
  background-color: #000000;
  opacity: 0.5; 
}

#description {
  /* stuff */
}

#posts {
  /* stuff */
}

.post {
  /* stuff */
}

.text {
  /* stuff */
}
