body {
  background-color: #E5E5E5;
  font-family: sans-serif;
}

ol {
  list-style-type: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333333;
  height: 60px;
  font-size: 20px;
  color: white;
  text-align: center;
}

#title {
  margin-top: 75px;
  text-align: center;
  font-family: sans-serif;
  color: #FFFFFF;
}

#description {
  /* stuff */
}

#posts {
  /* stuff */
  align-items: center;
}

.post {
  margin: 20px;
  align-content: center;
  align-items: center;
  align-self: center;
  width: 500px;
  background-color: white;
}

.text {
  /* stuff */
  padding: 5px 0px 5px 0px;
}

.photo {
  /* stuff */
}

.caption {
  /* stuff */
  padding: 5px;
}
