body {
  background: url(http://moodyssbm.github.io/immoody/web-101/lesson4/assets/bg.jpg);
}

ol {
  list-style-type: none;
  padding-left: 0px;
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  color: thistle;
}

a:visited {
  color: purple;
}

#title {
  /* stuff */
}

#description {
  /* stuff */
}

#posts {
  /* stuff */
}

.theTop {
  padding-top: 5px;
  font-family: sans-serif;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: 1px solid black;
  background: white;
  border-radius: 10px;
}

.post {
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background: white;
  box-shadow: -5px 5px 5px black;
  font-family: sans-serif;
}

.post img {
  border-radius: 10px;
  width: 500px;
}

.text {
  text-align: center;
  font-family: sans-serif;
  padding: 5px 0px;
}

.photo {
  /* stuff */
}

.caption {
  margin-left: 20px;
  padding-bottom: 20px;
}

.quote, .source {
  padding: 5px;
}

.quote {
  font: 20px;
  font-weight: bold;
  text-align: center;
}

.source {
  font: 14px;
  font-style: italic;
}
